{
  "secrets": [
    {
      "org_name": "<org-name>",
      "name": "<secret-name>,
      "secret": "ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
      "type": "Package",
      "description": "Example organization configuration"
    },
    {
      "org_name": "<org-name>",
      "name": "<secret-name>,
      "secret": "ghp_yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy",
      "type": "TestData",
      "description": "Another example organization"
    }
  ]
}
